<html>
	<head>
		<title>OCR App</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/login.css">
	</head>
	<body>
		
		<div class="ui pointing menu">
		  <a class="active item">
  <i class="notched circle loading icon"></i>OCR
		  </a>
		  	<a class="ui item" >Welcome <%= username %></a>
		  	<a class="ui item" href="/view">Previous Upload</a>
			<a class="ui item" href="/ocr">New upload</a>
			<form action="/g_logout" method="post">
                <button class="btn btn-lg btn-danger" style="margin-left:20%">Logout</button>
            </form>
			
		</div>
